title: Made this static site with Cactus
email: michael@magan.info
author: Michael Magan
date: 13-05-2017
tags: personal, python

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}
This is my new site that made using the wonderful 
[cactus](https://github.com/eudicots/Cactus). If you like django but don't
think its worth hosting a personal website like this cactus gives you 
django templating and a really simple set up. Feel free to email me with questions!

{% endfilter %}
{% endblock %}
