title: Making Special More Special With Your Mind
author: Michael Magan
email: michael@magan.info
date: 27-12-2017
preview_len: 30
header_img: /static/img/making-special-more-special-with-your-mind/holiday_family_photo.jpg

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

This holiday season I have been thinking about how much effort we put into _making_ the season special. We make special food, buy special presents, we decorate our homes, we buy special clothes, etc. We try and exert a lot of control over the tangible things we feel that we can control. We try and make the day special with what we can physically touch and see.

What if we were to focus on the intangible areas we can exert control over. How special we _feel_ the holidays are. We often omit the control we exert over our own thoughts and feelings. One way we can make almost anything special by thinking it so. Special is relative.

#### Proof that Special is Completely Within our own Mental Control
The example that comes to mind is _Little House on the Prairie_. I don’t remember what they get as presents for Christmas exactly but its usually something very simple like string or candy or items we today would think of as an everyday occurrence. 

Of course, for them, this was special because it was unusual, but for me, it’s proof that special is _relative_, and that if we were to gain the appreciation level of the children on little house on the prairie we could make almost anything _feel_ special. 

#### Appreciate More
I think the first step is to appreciate more. Almost any feasts we have at Christmas are greater than most kings or nobility had for most of human history. It's possible that they had more volume, but the variety of food we can get in the modern world only the richest and most recent kingdoms could acquire, honey, tropical fruits, many varieties of vegetables, turkeys, hams, teas, vanilla, cocoa, etc.

The feasting and eating is just one small aspect of the holidays. For me, I am home with my family and my new wife and as my dad says “party of 6”. They live very far away so this doesn’t and likely won’t happen as much as we would like. For me, it's two years since I have been home. Being with family, no matter how often it is, is special and I make sure to appreciate it as much as I can.

#### Contemplate the Specialness of Everything More
Take time in quiet silence to contemplate how special the day's events have been. I try to take a few moments every day to just sit and be mindful of how special what happened today or yesterday was. I tried to identify at least one moment that was special. Many times these are small everyday moments. A piece of toast with Kalles (guess I am thinking about breakfast). A hug with my mom. A sweet moment with my dad. A tearful moment with my wife. Those things seem so small but are more and more what I find the most special about life.

This sounds like common sense but I find that I often let these moments pass on by and don't eke out a full measure of specialness they can give me. It's like throwing out a box of chocolates only half eaten.  I have found that doing this can make fewer moments like these more satisfying than having a full schedule packed with special moments. It feels like a lot happened but each special moment feels more and more worn out. The chemical releases get less and less and now you are just busy but not happy. It's like you keep opening a box of chocolates but each time you eat fewer of them before you throw them out.

#### Conclusion
Take time every day to appreciate how special the everyday conveniences of modern life are and how special it is to take time with family or loved ones. Take time everyday to contemplate special moments and relish the specialness more than just once. If you can repeat these steps more than once. There are no diminishing returns.

Happy Holidays. Make them special in your mind.

{% endfilter %}
{% endblock %}