title: We are What They Grow Beyond
author: Michael Magan
email: michael@magan.info
date: 29-12-2019
preview_len: 30
header_img: /static/img/we-are-what-they-grow-beyond/starwars.png

{% extends "post.html" %}
{% block body %}

{% load markup %}
{% filter markdown %}

I finally watched _Star Wars: The Last Jedi_. This may contain spoilers. It's a fantastic movie that I highly recommend, and I was not disappointed. This isn't a review of the movie but a quote really stuck out to me. Without further ado, queue spoilers:

>“Heeded my words not, did you? Pass on what you have learned. Strength, mastery. But weakness, folly, failure also. Yes, failure most of all. The greatest teacher, failure is. Luke, we are what they grow beyond. That is the true burden of all masters.” — Master Yoda

As always Yoda has some of, if not the most, insightful words in the movie. This quote really struck me because of its two main points: that failure is the greatest teacher and that as _masters_ our greatest burden is watching as our _apprentices_ grow beyond us.

#### The Greatest Teacher, Failure Is
This is something I have often harped on about for a few years now. Still often I need a reminding because our culture values success, especially easy success. We love movies and shows about prodigies and brilliant minds where success, wealth and fame come easily for them.

To me, it's like the lottery. We all dream of quick easy money. We don't enjoy the ups and downs of mastery. _Strength, mastery. But weakness, folly, failure also._ Real life, real success, comes at a great cost, failure. 

Failure is the greatest teacher. I know that from experience. I liken the strength of learning from failure to learning about how heat can affect the skin. Anyone who has touched a hot stove or oven can tell you that any time they come even close to touching something hot they recoil instinctively. A young child can be told, "don't touch". We can explain that touching will hurt, but only the pain, tears, and enlightenment of experience can teach the instinctive recoil most of us have.

Life is like that. It's only when you have burned through bad investments that you invest more wisely. Burned by unhealthy relationships that you learn how to avoid them. Of course, we can't learn everything the _hard way_ but sometimes it's the most powerful and impactful lessons in our lives and the way we need to learn.

We should embrace failure, learn how to recoil from what we learn, and move on to fail again.

#### The True Burden of All Masters
Replace master with manager, parent, teacher, coach, trainer, or mentor and this message becomes clear. Truly great teachers and mentors are humble. They are able to push their apprentices or children to heights they may never have been able to reach themselves. Their Egos don't limit them from being superseded or overshadowed by those they helped achieve great heights.

For me, not a manager, or true mentor to anyone its a reminder that until now I have had many great teachers, mentors, parents, coaches who have allowed me to achieve many successes. I have focused a lot on myself by bettering my skills, intuition, and abilities, and that not only has improved me as a person but also, enlarged my Ego.

I don't think this is unusual. This kind of self-focus is necessary to learn, grow, and succeed as an individual. As I pour my effort and passion into this post it feeds my pride. There is no way around it, but at some point, my highest impact won't be my individual contributions, it will be what I can teach, how I can enable, lead and empower the next generation.

At that point, I need to be humble. We all need to learn how to enable the next generation of _masters_ to rise to greater heights than we have. It's been said that we stand on the shoulders of giants. At some point, we become those giants that others stand upon. We need to be humble and allow the apprentice to surpass the master.

{% endfilter %}
{% endblock %}