{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block navhome %}active{% endblock %}

{% block content %}
<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="inner cover">
      <h1 class="cover-heading">About Me</h1>
      <p class="lead">
        My interest range from coding, writing, investing, traveling and attempting to make life fuller and simpler. My goals in life are to be happier and working on projects that I am passionate about. I also enjoy thinking and wanted a place to share my thoughts with others who might also enjoy them. My <a href="{% url '/blog.html' %}">blog</a> will be mix of writings about meditation, theology, coding, minimalism, and whatever I currently fancy!
      </p>
      <img src="/static/img/blog_image.jpg" width="425" align="left" />
      <h2>9-to-5</h2>
      <p class="lead">
          Product Manager @ <a href="indeed.com">Indeed.com</a> getting jobs for over two hundred million jobseekers globally. Created the Indeed Analytics plaform and presented it to dozens of large corpoaration including Starbucks, Lyft, Walgreens, and Nestle Waters. Currently working on Lead Generation identifying employers with hiring needs who could benefit from using Indeed's paid products. 
      </p>
      <p class="lead">
          For more details on my professional work please checkout my <a href="https://www.linkedin.com/in/mnmagan/">linkedin</a>.
      </p>
  </div>
</div>
{% endblock %}
