{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block navblog %}active{% endblock %}


{% block content %}
<div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Product Manger</h1>
            <p class="lead">
                for <a href="indeed.com">Indeed.com</a> getting jobs
                for over two hundred million jobseekers globally. Presented 
                Indeed Analytics plaform to dozens of large corpoaration including
                Starbucks, Lyft, Walgreens, and Nestle Waters. Enjoys python pandas for data 
                analysis. Django for prototyping applications. So kind of a python 
                guy. Checkout my <a href="{% url '/blog.html' %}">blog</a>.
            </p>
            <p class="lead">
                For more info on my career please 
                checkout my <a href="https://www.linkedin.com/in/mnmagan/">linkedin</a>.
            </p>
          </div>
        </div>
      </div>

{% endblock %}
