{% extends "base.html" %}
{% block title %} Welcome | Recommendations {% endblock %}
{% block navrec %}active{% endblock %}

{% block content %}
{% load markup %}
{% filter markdown %}

{% load markup %}
{% filter markdown %}
### Recommendations
PSA: Some of these links contain referrals. If you hate that feel free to google it. Some of them provide you with discounts that might help out. If anything it shows me a little love :)

#### Communication
* Service
    * [Mint Sim][2]: Not cheapest but I think the best value for money. Supports VoLTE and VoWIFI. Easy setup. Simple Pricing. Great website.
    * [Google Voice][3]: A bit buggy but cool features. I love texting on a desktop!
* Phone
    * [OnePlus3][4]: Practically flagship phone but half the price ($400 vs. $800). High-quality finish. Close to stock android. Quick charge. Good battery life. Not rugged.
#### Banking Services
* Credit Cards
    * [Chase Sapphire][1]: Best all around credit card. Great set up. Good bonuses. Great customer support. Premium feel. Easy to use Tavel points.
  
* Banking Services & Insurance
    * [USAA][5]: Best insurance out there. My father-in-law (an insurance agent of 20 some years) said they have the best rates for insurance. Easy setup. I have car, rental, personal property, umbrella, and life insurance through them.
    * [USAA][5]: Also a great bank. Best customer service I have experienced. Online check deposit up to 100k (haven’t had to use that yet). Reimburses ATM fees anywhere in the world.
    * The catch: You or a parent or grandparent need to have been in the military. You may also qualify through your wife.
* Non-Taxable Investing
    * 401K: No matter who it's through you should max out your 401K contributions. Minimum the employer match. That's free money!
    * [Vanguard][6] Roth or Traditional IRA: Open one. I prefer Traditional IRA since I plan on being financially independent early and plan on using a Roth Conversion Ladder.


[1]: https://www.referyourchasecard.com/6/UBVFZL47JP
[2]: https://www.mintsim.com
[3]: https://voice.google.com/
[4]: https://oneplus.net/invite#IVJ9GNXPALLENCC
[5]: https://www.usaa.com
[6]: https://personal.vanguard.com
{% endfilter %}

{% endfilter %}

{% endblock %}