{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block navblog %}active{% endblock %}

{% block content %}

<article>
	<header>
		<h1>{{ title }}</h1>
		<h5><time pubdate="pubdate">{{ date|date:"F j, Y" }}</time> by <span class="author">{{ author }}</address></h5>
	</header>
		{% block body %}{% endblock %}
	<footer class='sidebar-module-inset'>
		Thanks for reading. Please feel free to reach out <a href='mailto:{{ email }}'>{{ email }}</a> if you have any feedback!
	</footer>
</article>
<nav aria-label="Page navigation example">
  <ul class="pagination">
	  {% if prevPost %}
			<li class="page-item"><a class="page-link" href='{{ POSTS_PATH }}/{{ prevPost.path }}'>
				&laquo; {{ prevPost.title }}
			</a></li>
		{% else %}
			<li class="page-item disabled"><a class="page-link" href='#'>
				First post
			</a></li>
		{% endif %}
    <li class="page-item"><a class="page-link" href="{% url '/blog.html' %}">Home</a></li>
		{% if nextPost %}
			<li class="page-item"><a class="page-link" href='{{ POSTS_PATH }}/{{ nextPost.path }}'>
				{{ nextPost.title }} &raquo;
			</a></li>
		{% else %}
			<li class="page-item disabled"><a class="page-link" href='#'>
				Last Post
			</a></li>
		{% endif %}
  </ul>
</nav>
{% endblock %}